.hero-image__contact-me {
  background-image: url("../assets/images/fells-point-sunrise.jpg");
 }

.container-text__contact-me {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  padding: 25px 15px;

}

.header__contact-me {
  font-size: 75px;
  color: rgba(255,255,255,.85);
  text-align: center;
}

.body-copy__contact-me {
  padding-top: 25px;
  font-size: 1.25rem;
  color: rgba(255,255,255,.85);
  width: 65%;
  p, ul {
    margin-bottom: 15px;
  }

}

.text__back-to-top {
  position: absolute;
  bottom: 15px;
  right: 10%;
  transform: translateX(-10%);
  z-index: 99;
  color: rgba(255,255,255,.25);
  font-size: 25px;
  transition: .5s;
  &:hover {
    cursor: pointer;
    transition: .5s;
    color: rgba(255,255,255,.75);
    text-decoration: none;
  }
}

.email {
  color: rgba(239, 239, 125, .75);
  transition: .5s;
  &:hover{
    transition: .5s;
    cursor: pointer;
    color: rgba(247, 247, 0, 0.887);
    text-decoration: none;
  }
}

.form__contact {
  width: 100%;
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  textarea {
    width: 100%;
    padding: 5px 10px;
    height: 150px;
  }
}