.hero-image {
  background-image: url('../assets/images/Colin-Stevens-Portfolio-Hero.jpg');
  
}

.hero-image-text-overlay {
  position: relative;
  padding-top: 5%;
  margin-left: 10%;
  z-index: 99;
}

.hero-image-text-overlay__header {
  color: rgba(255, 255, 255, .75);
  font-size: 95px;
  font-family: 'Shadows Into Light', cursive;
}

.hero-image-text-overlay__subheader {
  font-family: 'Shadows Into Light', cursive;
  color: rgba(255, 255, 255, .75);
  font-size: 35px;
}

.down-arrow {
  position: absolute;
  z-index: 2;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, .1);
  height: 5em;
  transition: .5s;
  animation: pulse-orange 10s infinite;
  &:hover {
    cursor: pointer;
    animation: none;
    transition: .5s;
    color: rgba(255, 255, 255, 1);
  }
    
}

.svg-inline--fa.fa-w-8 {
  width: 2.5em !important;

}

@keyframes pulse-orange {
  0%{
    color: rgba(255, 255, 255, .1);
  } 35% {
    color: rgba(255, 255, 255, .1);
  } 50% {
    color: rgba(186, 99, 61, 0.8);
  } 65% {
    color: rgba(255, 255, 255, .1);
  } 
}



@media only screen and (max-width: 415px) {

  .hero-image-text-overlay__header {
    color: rgba(255, 255, 255, .75);
    font-size: 45px;
  }

  .hero-image-text-overlay__subheader {
    color: rgba(255, 255, 255, .75);
    font-size: 28px;
  }


  .down-arrow {

    bottom: 25%;

      
  }

}

