.hero-image__my-projects {
  background-image: url("../assets/images/niagara-falls.jpg");
 }

.header__my-projects {
  position: relative;
  font-size: 75px;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  padding: 10px 0;
  z-index: 2;

}

.carousel {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.65);
  width: 80%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  
}

.carousel-inner {
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.carousel-item {
  min-height: 450px;
  max-height: 500px;
  padding-top: 15px;
  padding-bottom: 60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '\203A';
}

.carousel-control-prev-icon:after {
  content: '\2039';

}

.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
  font-size: 29px;
  font-weight: 800;
  color: #000000;

}


.header__projects-slider-item {
  text-align: center;
  font-size: 45px;
  color: black;
  font-weight: 700;
  padding-bottom: 15px;
}

.container__slider-item {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}

.text__project-slider-item {
  p, a {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 18px;
  }
}

.image__project-slider-item {
  width: 100%;
  img {
    max-height: 360px;
    width: auto;

  }
}

.arrows__projects {
  color: rgba(255, 255, 255, .1);
  height: 5em;
  animation: pulse-blue 10s infinite;
  transition: .5s;
  &:hover {
    cursor: pointer;
    animation: normal;
    transition: .5s;
    color: rgba(255, 255, 255, 1);
  }
}

@keyframes pulse-blue {
  0%{
    color: rgba(255, 255, 255, .1);
  } 35% {
    color: rgba(255, 255, 255, .1);
  } 50% {
    color: rgba(97, 155, 180, 0.7);
  } 65% {
    color: rgba(255, 255, 255, .1);
  } 
}

@media only screen and (max-width: 415px) {
  .container__right-arrows {
    display: none;
  }

  .header__my-projects {
    font-size: 3rem;
  }

  .carousel {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 10px;
  }

  .carousel-inner {
    overflow: scroll;
  }

  .container__slider-item {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    column-gap: 0px;
    row-gap: 10px;
    padding: 0 10px;
  }

  .header__projects-slider-item {
    font-size: 1.25rem;
    text-align: center;
  }

  .text__project-slider-item {
    width: 100%;
    p, a {
      font-size: .85rem;
      font-weight: 400;
      margin-bottom: 8px;
    }
  }

  .image__project-slider-item {
    img {
      width: 100%;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 38px;
    width: 38px;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
  }

  .carousel-control-next-icon:after,
  .carousel-control-prev-icon:after {
    font-size: 22px;

  }
}