.hero-image__this-is-me {
  background-image: url("../assets/images/about-colin-stevens-baltimore-web-developer-desktop-2.jpg");

}

.container__this-is-me-text {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  max-width: 400px;
  background-color: rgba(255,255,255,.65);
  border-radius: 5px;
  padding: 25px;
  p {
    margin-bottom: 22px;
    font-size: 1.25rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.header__this-is-me {
  color: rgba(0,0,0,.85);
  font-size: 55px;
  text-align: center;
  margin-bottom: 15px;
}

.container__right-arrows {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  display: grid;
  grid-template-rows: 50% 50%;

}

.arrows__this-is-me {
  color: rgba(255, 255, 255, .1);
  height: 5em;
  animation: pulse-yellow 10s infinite;
  transition: .5s;
  &:hover {
    cursor: pointer;
    animation: normal;
    transition: .5s;
    color: rgba(255, 255, 255, 1);
  }
}

@keyframes pulse-yellow {
  0%{
    color: rgba(255, 255, 255, .1);
  } 35% {
    color: rgba(255, 255, 255, .1);
  } 50% {
    color: rgba(166,140,89, 0.8);
  } 65% {
    color: rgba(255, 255, 255, .1);
  } 
}


@media only screen and (max-width: 415px) {
  .hero-image__this-is-me {
    background-image: url("../assets/images/about-colin-stevens-baltimore-web-developer-desktop-2.jpg");
    background-position: 50% -60px;
    background-size: initial;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    
  }
  
  .container__this-is-me-text {
    position: relative;
    align-self: flex-end;
    left: auto;
    top: auto;
    transform: none;
    max-width: 95%;
    padding: 25px;
    background-color: rgba(255,255,255,.8);
    height: fit-content;

    p {
      margin-bottom: 22px;
      font-size: 1rem;

    }  
  
  }  
  
  .header__this-is-me {
    font-size: 35px;
  }  


}