.hero-image__this-is-me {
  background-image: url("../assets/images/about-colin-stevens-baltimore-web-developer-desktop-2.jpg");

}

.container__this-is-me-text {
  margin-top: 25px;
  max-width: 350px;
  background-color: rgba(255,255,255,.55);
  border-radius: 5px;
  padding: 15px;
  p {
    margin-bottom: 15px;
    font-size: 1.25rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

}