* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #74738c;
}

li {
  margin-left: 40px;
}

.container__main-content {
  padding-top: 15px;
  width: 90%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.image__background {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  min-height: 710px;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 10px .5rem #48485e;
          box-shadow: 6px 10px .5rem #48485e;
}

.image__background::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.no-overlay::after {
  background-color: transparent;
}

.hero-image {
  background-image: url("../assets/images/Colin-Stevens-Portfolio-Hero.jpg");
}

.hero-image-text-overlay {
  position: relative;
  padding-top: 5%;
  margin-left: 10%;
  z-index: 99;
}

.hero-image-text-overlay__header {
  color: rgba(255, 255, 255, 0.75);
  font-size: 75px;
}

.hero-image-text-overlay__subheader {
  color: rgba(255, 255, 255, 0.75);
  font-size: 45px;
}

.down-arrow {
  position: absolute;
  z-index: 2;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.1);
  height: 5em;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-animation: pulse-orange 10s infinite;
          animation: pulse-orange 10s infinite;
}

.down-arrow:hover {
  cursor: pointer;
  -webkit-animation: none;
          animation: none;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
}

.svg-inline--fa.fa-w-8 {
  width: 2.5em !important;
}

@-webkit-keyframes pulse-orange {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }
  35% {
    color: rgba(255, 255, 255, 0.1);
  }
  50% {
    color: rgba(186, 99, 61, 0.8);
  }
  65% {
    color: rgba(255, 255, 255, 0.1);
  }
}

@keyframes pulse-orange {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }
  35% {
    color: rgba(255, 255, 255, 0.1);
  }
  50% {
    color: rgba(186, 99, 61, 0.8);
  }
  65% {
    color: rgba(255, 255, 255, 0.1);
  }
}

@media only screen and (max-width: 415px) {
  .hero-image-text-overlay__header {
    color: rgba(255, 255, 255, 0.75);
    font-size: 45px;
  }
  .hero-image-text-overlay__subheader {
    color: rgba(255, 255, 255, 0.75);
    font-size: 28px;
  }
  .down-arrow {
    display: none;
  }
}

.hero-image__this-is-me {
  background-image: url("../assets/images/about-colin-stevens-baltimore-web-developer-desktop-2.jpg");
}

.container__this-is-me-text {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  padding: 25px;
}

.container__this-is-me-text p {
  margin-bottom: 22px;
  font-size: 1.25rem;
}

.container__this-is-me-text p:last-of-type {
  margin-bottom: 0;
}

.header__this-is-me {
  color: rgba(0, 0, 0, 0.85);
  font-size: 55px;
  text-align: center;
  margin-bottom: 15px;
}

.container__right-arrows {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.arrows__this-is-me {
  color: rgba(255, 255, 255, 0.1);
  height: 5em;
  -webkit-animation: pulse-yellow 10s infinite;
          animation: pulse-yellow 10s infinite;
  -webkit-transition: .5s;
  transition: .5s;
}

.arrows__this-is-me:hover {
  cursor: pointer;
  -webkit-animation: normal;
          animation: normal;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
}

@-webkit-keyframes pulse-yellow {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }
  35% {
    color: rgba(255, 255, 255, 0.1);
  }
  50% {
    color: rgba(166, 140, 89, 0.8);
  }
  65% {
    color: rgba(255, 255, 255, 0.1);
  }
}

@keyframes pulse-yellow {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }
  35% {
    color: rgba(255, 255, 255, 0.1);
  }
  50% {
    color: rgba(166, 140, 89, 0.8);
  }
  65% {
    color: rgba(255, 255, 255, 0.1);
  }
}

@media only screen and (max-width: 415px) {
  .hero-image__this-is-me {
    background-image: url("../assets/images/about-colin-stevens-baltimore-web-developer-desktop-2.jpg");
    background-position: 50% -60px;
    background-size: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .container__this-is-me-text {
    position: relative;
    -ms-flex-item-align: end;
        align-self: flex-end;
    left: auto;
    top: auto;
    -webkit-transform: none;
            transform: none;
    max-width: 95%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container__this-is-me-text p {
    margin-bottom: 22px;
    font-size: 1rem;
  }
  .header__this-is-me {
    font-size: 35px;
  }
}

.hero-image__my-projects {
  background-image: url("../assets/images/niagara-falls.jpg");
}

.header__my-projects {
  position: relative;
  font-size: 75px;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  padding: 10px 0;
  z-index: 2;
}

.carousel {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.65);
  width: 80%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.carousel-inner {
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.carousel-item {
  min-height: 450px;
  max-height: 500px;
  padding-top: 15px;
  padding-bottom: 60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '\203A';
}

.carousel-control-prev-icon:after {
  content: '\2039';
}

.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
  font-size: 29px;
  font-weight: 800;
  color: #000000;
}

.header__projects-slider-item {
  text-align: center;
  font-size: 45px;
  color: black;
  font-weight: 700;
  padding-bottom: 15px;
}

.container__slider-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.text__project-slider-item p, .text__project-slider-item a {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 18px;
}

.image__project-slider-item {
  width: 100%;
}

.image__project-slider-item img {
  max-height: 360px;
  width: auto;
}

.arrows__projects {
  color: rgba(255, 255, 255, 0.1);
  height: 5em;
  -webkit-animation: pulse-blue 10s infinite;
          animation: pulse-blue 10s infinite;
  -webkit-transition: .5s;
  transition: .5s;
}

.arrows__projects:hover {
  cursor: pointer;
  -webkit-animation: normal;
          animation: normal;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
}

@-webkit-keyframes pulse-blue {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }
  35% {
    color: rgba(255, 255, 255, 0.1);
  }
  50% {
    color: rgba(97, 155, 180, 0.7);
  }
  65% {
    color: rgba(255, 255, 255, 0.1);
  }
}

@keyframes pulse-blue {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }
  35% {
    color: rgba(255, 255, 255, 0.1);
  }
  50% {
    color: rgba(97, 155, 180, 0.7);
  }
  65% {
    color: rgba(255, 255, 255, 0.1);
  }
}

@media only screen and (max-width: 415px) {
  .container__right-arrows {
    display: none;
  }
  .header__my-projects {
    font-size: 3rem;
  }
  .carousel {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 10px;
  }
  .carousel-inner {
    overflow: scroll;
  }
  .container__slider-item {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    row-gap: 10px;
    padding: 0 10px;
  }
  .header__projects-slider-item {
    font-size: 1.25rem;
    text-align: center;
  }
  .text__project-slider-item {
    width: 100%;
  }
  .text__project-slider-item p, .text__project-slider-item a {
    font-size: .85rem;
    font-weight: 400;
    margin-bottom: 8px;
  }
  .image__project-slider-item img {
    width: 100%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 38px;
    width: 38px;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
  }
  .carousel-control-next-icon:after,
  .carousel-control-prev-icon:after {
    font-size: 22px;
  }
}

.hero-image__contact-me {
  background-image: url("../assets/images/fells-point-sunrise.jpg");
}

.container-text__contact-me {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 25px 15px;
}

.header__contact-me {
  font-size: 75px;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
}

.body-copy__contact-me {
  padding-top: 25px;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.85);
  width: 65%;
}

.body-copy__contact-me p, .body-copy__contact-me ul {
  margin-bottom: 15px;
}

.text__back-to-top {
  position: absolute;
  bottom: 15px;
  right: 10%;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  z-index: 99;
  color: rgba(255, 255, 255, 0.25);
  font-size: 25px;
  -webkit-transition: .5s;
  transition: .5s;
}

.text__back-to-top:hover {
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.email {
  color: rgba(239, 239, 125, 0.75);
  -webkit-transition: .5s;
  transition: .5s;
}

.email:hover {
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  color: rgba(247, 247, 0, 0.887);
  text-decoration: none;
}

.form__contact {
  width: 100%;
}

.form__contact input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.form__contact textarea {
  width: 100%;
  padding: 5px 10px;
  height: 150px;
}

.alert {
  padding: 8px 18px;
  padding-right: 28px;
  margin-left: 20px;
  text-align: center;
}

@media only screen and (max-width: 415px) {
  .container-text__contact-me {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 4rem auto;
        grid-template-rows: 4rem auto;
  }
  .header__contact-me {
    font-size: 3rem;
  }
  .body-copy__contact-me {
    width: 100%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 415px) {
  .container__main-content {
    padding-top: 0;
    width: 100%;
  }
  .image__background {
    height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */